/*-----------------------------------------------------------------*/

/*[_nel Setting]*/

/*-----------------------------------------------------------------*/

/*._slick-src-1{
    background-image: url(../img/mockup/mockup1.jpg);
}
._slick-src-2{
    background-image: url(../img/mockup/mockup2.jpg);
}
._slick-src-3{
    background-image: url(../img/mockup/mockup3.jpg);
}

._content-grid-img._src1{
  background-image: url(../img/mockup/mockup2.jpg);
}
._content-grid-img._src2{
  background-image: url(../img/mockup/mockup3.jpg);
}
._content-grid-img._src3{
  background-image: url(../img/mockup/mockup4.jpg);
}
._content-grid-img._src4{
  background-image: url(../img/mockup/mockup5.jpg);
}

._header-background._src-bg{
    background-image: url(../img/mockup/mockup8.jpg);
}